@font-face {
        font-family: 'Potta_One';
        src: url(Potta_One/PottaOne-Regular.ttf);
}
* {
        font-family: "Times New Roman", Times, serif;
}
html {
        background-color: #F2F230;
}
header {
        position: sticky;
        top: 0;
        width: 100%;
        background-color: seagreen;
}
header nav {
        background-color: #91F291;
        margin-top: 2%;
        text-align: center;
        font-size: 50x;
        flex-grow: 2;
}
nav #navElem {
        display: flex;
        flex-direction: column;
        margin-bottom: 0.7cm;
        text-decoration: none;
}
a:link {
        color:aquamarine;
}
a:visited {
        color: #294C60;
}
a.highlight:hover {
        color: #000000;
}
a:hover {
        color: greenyellow;
}
a:active {
        color: green;
}
div:hover {
        background-color: green;
}
header > h1 {
     color: rgb(75, 31, 31);   
}
.headerInFlex {
        display: flex;
        flex-direction: row;
        text-align: center;
        justify-content: space-evenly;

}
h2 + div,pre {
        color: rgb(155, 255, 253);
        font-family: 'Potta_One';
        font-size: 1.3em;
}
#headerElem {
        flex-grow: 1;
}
h1 ~ p{
        color: saddlebrown;
        background-color: hsl(120,60%,70%);
        padding: 5ch;
}
form {
        display: grid;
        grid-template-columns: 35% 35% auto;
        grid-template-rows: 3rem 3rem auto;
        justify-self: center;
        font-size: 15pt;
        background-color: #08E;
        padding: 2% 1% 2% 1%;
}
form label input {
        margin: 1ch;
}
section .sectionTitle{
        border-style: dotted;
        border-width: 1em;
        border-color: rgba(11,156,49,1);
        padding-top: 1%;
        padding-bottom: 1%;
}
#courseH{
        padding-left: 3%;
        padding-right: 3%;
}
img {
        border-radius: 50px;
}
#tooBig {
        height: 20%;
        width: 20%;
}
audio {
        display: inline-block;
}
div[id="courses"] {
        min-width: 50%;
}
#projectTitle {
        width: 20%;
        display: block;
        margin: auto;
}
video {
        position: relative;
        left: 5%;
}
footer {
        background-color: hsla(157, 83%, 39%, 1);
        padding: 5vw;
        font-size: 3rem;
        position: absolute;
        display: inline;
}